@using Casino.Models.NewsModels
@using Umbraco.Core
@model IEnumerable<News>
@{
    Layout = null;
    int i = 0;
}

<div class="container">
    <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-container">
                            <table class="table table-filter">
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        string[] words = item.Body.Split();
                                        var wordsString = words.Take(5);
                                        <tr data-status="pagado">
                                            <td>
                                                <div class="media">

                                                    <div class="media-body">
                                                        <span class="media-meta pull-right">@(item.DatePublished.HasValue ? item.DatePublished.Value.ToString("MMM dd, yyyy") : "")</span>
                                                        <h4 class="title">
                                                            <a href="@item.SiteUrl">@item.Title</a>
                                                        </h4>
                                                        <p class="summary">@Html.Raw(string.Join(" ", wordsString)+" ...")</p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }


                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>










