<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT contentBase ANY>
<!ATTLIST contentBase id ID #REQUIRED>
<!ELEMENT feature ANY>
<!ATTLIST feature id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT navigationBase ANY>
<!ATTLIST navigationBase id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT blogpost ANY>
<!ATTLIST blogpost id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT people ANY>
<!ATTLIST people id ID #REQUIRED>
<!ELEMENT person ANY>
<!ATTLIST person id ID #REQUIRED>
<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT products ANY>
<!ATTLIST products id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT articles ANY>
<!ATTLIST articles id ID #REQUIRED>
<!ELEMENT article ANY>
<!ATTLIST article id ID #REQUIRED>
<!ELEMENT casinos ANY>
<!ATTLIST casinos id ID #REQUIRED>
<!ELEMENT casino ANY>
<!ATTLIST casino id ID #REQUIRED>
]>
<root id="-1">
  <home id="1141" key="1bca2f8f-d68b-4683-92f1-528b69608e05" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-04-02T17:55:25" updateDate="2018-06-02T14:56:53" nodeName="Home" urlName="home" path="-1,1141" isDoc="" nodeType="1084" creatorName="Piotr Bancarzewski" writerName="Piotr Bancarzewski" writerID="0" template="1055" nodeTypeAlias="home" isPublished="true">
    <homeBody><![CDATA[<p>test</p>]]></homeBody>
    <articles id="1153" key="411bece2-b89e-4309-b3e1-39a0c2d2b70c" parentID="1141" level="2" creatorID="0" sortOrder="1" createDate="2018-04-05T09:03:24" updateDate="2018-04-05T09:03:24" nodeName="Articles" urlName="articles" path="-1,1141,1153" isDoc="" nodeType="1143" creatorName="Piotr Bancarzewski" writerName="Piotr Bancarzewski" writerID="0" template="1142" nodeTypeAlias="articles" isPublished="true">
      <article id="1157" key="1f176ad5-488d-4b95-8dfb-9b391f6bddbb" parentID="1153" level="3" creatorID="0" sortOrder="0" createDate="2018-04-06T21:08:15" updateDate="2018-08-25T20:36:43" nodeName="Black Jack" urlName="black-jack" path="-1,1141,1153,1157" isDoc="" nodeType="1152" creatorName="Piotr Bancarzewski" writerName="Piotr Bancarzewski" writerID="0" template="1151" nodeTypeAlias="article" isPublished="true">
        <articleBody><![CDATA[<p>Is it really possible to cheat an online casino playing Blackjack?</p>
<p>So far, no one has published any good methods, and if they actually exist, you just need to keep checking the winnings that happen in Vegas :)– Sin<span> </span><em>City</em>, the<span> </span><em>gambling</em><span> </span>capital of the<span> </span><em>world</em>.</p>
<p>How to skillfully play Blackjack?</p>
<p>Blackjack is a very active game, but what does it exactly mean?</p>
<p>You make a quick choice whether you want to draw additional cards or choose the so-called ‘stand’ that is "stuck with what you have”, it is also a separation of cards, if possible, in order to accumulate cards with point totals as close to 21, in other words it can’t go over 21, because then you lose. Theoretically, the Blackjack player has actually better chance of winning than the dealer. Why? There are several factors:</p>
<ol>
<li>We have the opportunity to take more cards (“hit”) and “stand” at any time, the dealer must always draw the cards when their sum is less or equal 16, and can’t take more cards when the card is equal to the sum of 17 or more.</li>
<li>If the sum of our cards is in the range of 9 - 11 can double our contribution - the dealer, however, can’t do it.</li>
<li>The dealer can’t split the cards, while in certain cases, we can.</li>
<li>and most important: when you hit Blackjack or any Ace + King (or Queen or Jack or a Ten) it gives us 150% of the deposit, normally we win 00% of the deposit, the dealer of course does not have such possibility. We can also use the same method as in playing roulette, that is we double the lost sum of money to compensate for our previous loss. Most casinos also allow to play "for a few hands” at the same table and at the same time, which gives the player a greater chance of winning.</li>
</ol>
<p>And now two tips on what you shouldn’t do playing blackjack in online casino:</p>
<ol>
<li>Do not count cards – it’s not worth it. You don’t know how many deck of cards an online dealer has so it will only distract you.</li>
<li>Blackjack is a game for patient players - experts in this game usually put in one game not more than 2% of their total sum, in order to calm down and to feel more confident playing with the dealer.</li>
</ol>]]></articleBody>
        <articlePublishedDate>2018-05-23T00:00:00</articlePublishedDate>
        <articleTitle><![CDATA[Black Jack]]></articleTitle>
        <articleBanner><![CDATA[umb://media/165b75919d504c6ca4301aa6b86bd5f3]]></articleBanner>
      </article>
    </articles>
    <casinos id="1168" key="46587f3a-100c-4ac2-8516-96a74ab7d577" parentID="1141" level="2" creatorID="0" sortOrder="2" createDate="2018-04-07T16:31:40" updateDate="2018-04-07T16:31:40" nodeName="Casinos" urlName="casinos" path="-1,1141,1168" isDoc="" nodeType="1165" creatorName="Piotr Bancarzewski" writerName="Piotr Bancarzewski" writerID="0" template="1164" nodeTypeAlias="casinos" isPublished="true">
      <casino id="1169" key="f04c227c-e0ab-4e43-a402-29fa3d2024ed" parentID="1168" level="3" creatorID="0" sortOrder="0" createDate="2018-04-07T16:31:56" updateDate="2018-06-01T16:18:12" nodeName="MrGreen" urlName="mrgreen" path="-1,1141,1168,1169" isDoc="" nodeType="1167" creatorName="Piotr Bancarzewski" writerName="kas" writerID="1" template="1160" nodeTypeAlias="casino" isPublished="true">
        <bodyCasino><![CDATA[<p style="text-align: justify;">1. Mr.Green Casino - 100% Bonus + 420 Free Spins</p>
<p style="text-align: justify;"><iframe allowtransparency="true" src="https://ads.mrgreen.com/ad.aspx?bid=8040&amp;pid=1230389" width="250" height="250" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe></p>]]></bodyCasino>
        <titleCasino><![CDATA[Mr.Green]]></titleCasino>
        <logoCasino><![CDATA[{
  "focalPoint": {
    "left": 0.16129032258064516,
    "top": 0.42307692307692307
  },
  "src": "/media/1033/sendtoicbtn.png",
  "crops": [
    {
      "width": 68,
      "height": 68,
      "alias": "Logo",
      "coordinates": {
        "x1": 0,
        "y1": 0,
        "x2": 0.58064516129032262,
        "y2": 0
      }
    }
  ]
}]]></logoCasino>
      </casino>
      <casino id="1172" key="d5532fd5-ba1f-4cad-8125-4aea434c1315" parentID="1168" level="3" creatorID="1" sortOrder="1" createDate="2018-04-10T23:10:46" updateDate="2018-04-10T23:10:46" nodeName="Guts Casino" urlName="guts-casino" path="-1,1141,1168,1172" isDoc="" nodeType="1167" creatorName="kas" writerName="kas" writerID="1" template="1160" nodeTypeAlias="casino" isPublished="true">
        <bodyCasino><![CDATA[<p style="text-align: justify;">2. Guts Casino</p>
<p style="text-align: justify;"><iframe scrolling="no" frameborder="0" style="padding: 0px; margin: 0px; border: 0px; border-style: none;" width="250" height="250" src="http://wlguts.adsrv.eacdn.com/I.ashx?btag=a_1016b_2666c_&amp;affid=547&amp;siteid=1016&amp;adid=2666&amp;c=highroller"></iframe></p>
<p style="text-align: justify;">Guts Casino</p>
<p style="text-align: justify;"><iframe scrolling="no" frameborder="0" style="padding: 0px; margin: 0px; border: 0px; border-style: none;" width="728" height="90" src="http://wlguts.adsrv.eacdn.com/I.ashx?btag=a_1016b_1788c_&amp;affid=547&amp;siteid=1016&amp;adid=1788&amp;c="></iframe></p>
<p style="text-align: justify;">Guts Sports</p>
<p style="text-align: justify;"><iframe scrolling="no" frameborder="0" style="padding: 0px; margin: 0px; border: 0px; border-style: none;" width="320" height="110" src="http://wlguts.adsrv.eacdn.com/I.ashx?btag=a_1016b_2678c_&amp;affid=547&amp;siteid=1016&amp;adid=2678&amp;c=sport"></iframe></p>]]></bodyCasino>
        <titleCasino><![CDATA[Guts Casino]]></titleCasino>
      </casino>
      <casino id="1174" key="5b33e253-acaf-4458-83ad-90d8b025594c" parentID="1168" level="3" creatorID="1" sortOrder="2" createDate="2018-04-10T23:12:14" updateDate="2018-06-01T16:31:05" nodeName="Rizk Casino" urlName="rizk-casino" path="-1,1141,1168,1174" isDoc="" nodeType="1167" creatorName="kas" writerName="kas" writerID="1" template="1160" nodeTypeAlias="casino" isPublished="true">
        <bodyCasino><![CDATA[<p>3. Rizk Casino - Enjoy 15 Free Spins and Welcome Offer</p>
<p><iframe scrolling="no" frameborder="0" style="padding: 0px; margin: 0px; border: 0px; border-style: none;" width="600" height="200" src="http://wlrizk.adsrv.eacdn.com/I.ashx?btag=a_1016b_1139c_&amp;affid=547&amp;siteid=1016&amp;adid=1139&amp;c="></iframe></p>]]></bodyCasino>
        <titleCasino><![CDATA[Rizk Casino]]></titleCasino>
      </casino>
      <casino id="1175" key="310c6575-730a-46a1-b7a0-47794497eadf" parentID="1168" level="3" creatorID="1" sortOrder="3" createDate="2018-04-10T23:13:05" updateDate="2018-04-10T23:13:05" nodeName="Betspin" urlName="betspin" path="-1,1141,1168,1175" isDoc="" nodeType="1167" creatorName="kas" writerName="kas" writerID="1" template="1160" nodeTypeAlias="casino" isPublished="true">
        <bodyCasino><![CDATA[<p style="text-align: justify;">4. Betspin - 100% Deposit Bonus + 50 Free Spins</p>
<p style="text-align: justify;">EU Offer:</p>
<p style="text-align: justify;"><iframe scrolling="no" frameborder="0" style="padding: 0px; margin: 0px; border: 0px; border-style: none;" width="300" height="250" src="http://wlbetspins.adsrv.eacdn.com/I.ashx?btag=a_1016b_2411c_&amp;affid=547&amp;siteid=1016&amp;adid=2411&amp;c="></iframe></p>
<p style="text-align: justify;">UK Offer:</p>
<p style="text-align: justify;"><iframe scrolling="no" frameborder="0" style="padding: 0px; margin: 0px; border: 0px; border-style: none;" width="1000" height="250" src="http://wlbetspins.adsrv.eacdn.com/I.ashx?btag=a_1016b_2382c_&amp;affid=547&amp;siteid=1016&amp;adid=2382&amp;c="></iframe></p>]]></bodyCasino>
        <titleCasino><![CDATA[Betspin]]></titleCasino>
      </casino>
      <casino id="1176" key="b5c3f67a-4edc-47af-9667-47076dfabb9a" parentID="1168" level="3" creatorID="1" sortOrder="4" createDate="2018-04-10T23:13:35" updateDate="2018-04-10T23:13:35" nodeName="888 Casino" urlName="888-casino" path="-1,1141,1168,1176" isDoc="" nodeType="1167" creatorName="kas" writerName="kas" writerID="1" template="1160" nodeTypeAlias="casino" isPublished="true">
        <bodyCasino><![CDATA[<p style="text-align: justify;">5. 888 Casino </p>
<p style="text-align: justify;"> </p>
<p><a rel="nofollow" href="https://mmwebhandler.aff-online.com/C/39970?sr=1075335&amp;anid="><img src="https://mmwebhandler.aff-online.com/I/39970?sr=1075335&amp;anid=" alt="" /></a></p>]]></bodyCasino>
        <titleCasino><![CDATA[888 Casino]]></titleCasino>
      </casino>
      <casino id="1215" key="cb164f22-d95a-440f-a816-93a3a8b1778d" parentID="1168" level="3" creatorID="1" sortOrder="5" createDate="2018-06-01T15:08:29" updateDate="2018-06-01T15:25:14" nodeName="Big Wins" urlName="big-wins" path="-1,1141,1168,1215" isDoc="" nodeType="1167" creatorName="kas" writerName="kas" writerID="1" template="1160" nodeTypeAlias="casino" isPublished="true">
        <bodyCasino><![CDATA[<p><img style="width: 500px; height: 281.25px;" src="/media/1033/271213.png?width=500&amp;height=281.25" alt="" data-udi="umb://media/288683f0eb97414696f3ba435dedc4d5" /></p>
<p><img style="width: 500px; height:281.25px;" src="/media/1034/271213b.png?width=500&amp;height=281.25" alt="" data-udi="umb://media/4ab3efcf159a407f8a5762d7606424f0" /></p>
<p><img style="width: 500px; height:382.29273285568064px;" src="/media/1035/222.png?width=500&amp;height=382.29273285568064" alt="" data-udi="umb://media/1b150c54826b476e9ef3274973481650" /></p>
<p><img style="width: 500px; height:383.8643371017472px;" src="/media/1036/111.png?width=500&amp;height=383.8643371017472" alt="" data-udi="umb://media/d401643ebb2d4deb8d6ff503b8b5b80f" /></p>
<p><img style="width: 500px; height:383.82193268186757px;" src="/media/1037/300new.png?width=500&amp;height=383.82193268186757" alt="" data-udi="umb://media/edc13d4320a14b4da058c18aa61eab66" /></p>]]></bodyCasino>
        <titleCasino><![CDATA[Big Wins]]></titleCasino>
      </casino>
      <casino id="1216" key="15569ea7-f83c-4834-8303-c6337fe3ba06" parentID="1168" level="3" creatorID="1" sortOrder="6" createDate="2018-06-01T15:37:41" updateDate="2018-06-01T15:43:38" nodeName="Casino Luck" urlName="casino-luck" path="-1,1141,1168,1216" isDoc="" nodeType="1167" creatorName="kas" writerName="kas" writerID="1" template="1160" nodeTypeAlias="casino" isPublished="true">
        <bodyCasino><![CDATA[<p><iframe scrolling="no" frameborder="0" style="padding: 0px; margin: 0px; border: 0px; border-style: none;" width="300" height="300" src="http://wlnextcasinoluck.adsrv.eacdn.com/I.ashx?btag=a_9115b_3526c_&amp;affid=17883&amp;siteid=9115&amp;adid=3526&amp;c="></iframe></p>]]></bodyCasino>
        <titleCasino><![CDATA[Casino Luck]]></titleCasino>
      </casino>
      <casino id="1217" key="2613335c-9fd9-4afa-8faf-cca1fd938e03" parentID="1168" level="3" creatorID="1" sortOrder="7" createDate="2018-06-01T15:41:17" updateDate="2018-06-01T15:41:17" nodeName="Wild Slots" urlName="wild-slots" path="-1,1141,1168,1217" isDoc="" nodeType="1167" creatorName="kas" writerName="kas" writerID="1" template="1160" nodeTypeAlias="casino" isPublished="true">
        <bodyCasino><![CDATA[<p><iframe scrolling="no" frameborder="0" style="padding: 0px; margin: 0px; border: 0px; border-style: none;" width="300" height="300" src="http://wlnextcasinoluck.adsrv.eacdn.com/I.ashx?btag=a_9115b_3736c_&amp;affid=17883&amp;siteid=9115&amp;adid=3736&amp;c="></iframe></p>]]></bodyCasino>
        <titleCasino><![CDATA[Wild Slots]]></titleCasino>
      </casino>
      <casino id="1218" key="321b8e44-b2e3-457e-95b9-f0618e5e44ab" parentID="1168" level="3" creatorID="1" sortOrder="8" createDate="2018-06-01T15:43:20" updateDate="2018-06-01T15:43:20" nodeName="Next Casino" urlName="next-casino" path="-1,1141,1168,1218" isDoc="" nodeType="1167" creatorName="kas" writerName="kas" writerID="1" template="1160" nodeTypeAlias="casino" isPublished="true">
        <bodyCasino><![CDATA[<p><iframe scrolling="no" frameborder="0" style="padding: 0px; margin: 0px; border: 0px; border-style: none;" width="250" height="250" src="http://wlnextcasinoluck.adsrv.eacdn.com/I.ashx?btag=a_9115b_3429c_&amp;affid=17883&amp;siteid=9115&amp;adid=3429&amp;c="></iframe></p>]]></bodyCasino>
        <titleCasino><![CDATA[Next Casino]]></titleCasino>
      </casino>
      <casino id="1219" key="d8b37007-c9f0-4409-9466-9a4b03ba6d18" parentID="1168" level="3" creatorID="1" sortOrder="9" createDate="2018-06-01T16:35:35" updateDate="2018-06-01T16:36:18" nodeName="Casino Cruise" urlName="casino-cruise" path="-1,1141,1168,1219" isDoc="" nodeType="1167" creatorName="kas" writerName="kas" writerID="1" template="1160" nodeTypeAlias="casino" isPublished="true">
        <bodyCasino><![CDATA[<p>Casino Cruise</p>
<p><a href="https://ads.affiliatecruise.com/redirect.aspx?pid=17276&amp;bid=2517"><img src="https://ads.affiliatecruise.com/renderimage.aspx?pid=17276&amp;bid=2517" border="0" alt="CasinoCruise.com Welcome 100% up to 200 ENG GBP 1024x264" /></a></p>]]></bodyCasino>
        <titleCasino><![CDATA[Casino Cruise]]></titleCasino>
      </casino>
      <casino id="1220" key="dff51d72-634a-4607-a1a0-a5498795eb3e" parentID="1168" level="3" creatorID="1" sortOrder="10" createDate="2018-06-01T16:40:39" updateDate="2018-06-01T16:40:39" nodeName="Spinit" urlName="spinit" path="-1,1141,1168,1220" isDoc="" nodeType="1167" creatorName="kas" writerName="kas" writerID="1" template="1160" nodeTypeAlias="casino" isPublished="true">
        <bodyCasino><![CDATA[<p>Sloty</p>
<p><a href="http://ads.affiliates-spinit.com/redirect.aspx?pid=17276&amp;bid=3633"><img src="http://ads.affiliates-spinit.com/renderimage.aspx?pid=17276&amp;bid=3633" border="0" alt="Spinit.com Welcome Bonus 100% up to 200 ENG GBP" /></a></p>]]></bodyCasino>
        <titleCasino><![CDATA[Spinit]]></titleCasino>
      </casino>
      <casino id="1221" key="85fced52-e368-414e-9da9-503592de499d" parentID="1168" level="3" creatorID="1" sortOrder="11" createDate="2018-06-01T16:41:44" updateDate="2018-06-01T16:41:46" nodeName="Vegas Hero" urlName="vegas-hero" path="-1,1141,1168,1221" isDoc="" nodeType="1167" creatorName="kas" writerName="kas" writerID="1" template="1160" nodeTypeAlias="casino" isPublished="true">
        <bodyCasino><![CDATA[<p>Vegas Hero</p>
<p><a href="https://ads.affiliatecruise.com/redirect.aspx?pid=17276&amp;bid=4198"><img src="https://ads.affiliatecruise.com/renderimage.aspx?pid=17276&amp;bid=4198" border="0" alt="" /></a></p>]]></bodyCasino>
        <titleCasino><![CDATA[Vegas Hero]]></titleCasino>
      </casino>
      <casino id="1222" key="f7b53e9a-d3a6-4eb5-a7cb-84dcf525af5b" parentID="1168" level="3" creatorID="1" sortOrder="12" createDate="2018-06-01T16:45:30" updateDate="2018-06-01T16:45:30" nodeName="Sloty Casino" urlName="sloty-casino" path="-1,1141,1168,1222" isDoc="" nodeType="1167" creatorName="kas" writerName="kas" writerID="1" template="1160" nodeTypeAlias="casino" isPublished="true">
        <bodyCasino><![CDATA[<p>Sloty Casino</p>
<p><a href="https://ads.affiliatecruise.com/redirect.aspx?pid=17276&amp;bid=3828"><img src="https://ads.affiliatecruise.com/renderimage.aspx?pid=17276&amp;bid=3828" border="0" alt="Sloty ENG ALL" /></a></p>]]></bodyCasino>
        <titleCasino><![CDATA[Sloty Casino]]></titleCasino>
      </casino>
    </casinos>
  </home>
</root>