<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT article ANY>
<!ATTLIST article id ID #REQUIRED>
<!ELEMENT contentBase ANY>
<!ATTLIST contentBase id ID #REQUIRED>
<!ELEMENT feature ANY>
<!ATTLIST feature id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT navigationBase ANY>
<!ATTLIST navigationBase id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT blogpost ANY>
<!ATTLIST blogpost id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT people ANY>
<!ATTLIST people id ID #REQUIRED>
<!ELEMENT person ANY>
<!ATTLIST person id ID #REQUIRED>
<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT products ANY>
<!ATTLIST products id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT articles ANY>
<!ATTLIST articles id ID #REQUIRED>
]>
<root id="-1">
  <home id="1141" key="1bca2f8f-d68b-4683-92f1-528b69608e05" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-04-02T17:55:25" updateDate="2018-04-04T23:16:53" nodeName="Home" urlName="home" path="-1,1141" isDoc="" nodeType="1084" creatorName="Piotr Bancarzewski" writerName="kas" writerID="1" template="1055" nodeTypeAlias="home" isPublished="true">
    <articles id="1146" key="10ae1fed-1c6c-4cbe-b3c3-4e70c77c1542" parentID="1141" level="2" creatorID="1" sortOrder="0" createDate="2018-04-04T20:00:08" updateDate="2018-04-04T23:18:37" nodeName="Casino Nomad" urlName="casino-nomad" path="-1,1141,1146" isDoc="" nodeType="1143" creatorName="kas" writerName="kas" writerID="1" template="0" nodeTypeAlias="articles" isPublished="false">
      <article id="1154" key="1dcafa09-899d-4d3f-88b3-83827d5e6378" parentID="1146" level="3" creatorID="1" sortOrder="0" createDate="2018-04-05T23:09:25" updateDate="2018-04-05T23:09:58" nodeName="Black Jack" urlName="black-jack" path="-1,1141,1146,1154" isDoc="" nodeType="1152" creatorName="kas" writerName="kas" writerID="1" template="1151" nodeTypeAlias="article" isPublished="false">
        <articleBody><![CDATA[<p><span>High Streak European Blackjack Gold</span></p>
<p><span>European High Streak Blackjack Gold review</span></p>
<p><span>European High Streak Blackjack Gold Series is a part of the amazing Gold Series, one of the most realistic blackjack game online. It is played with 2regular decks of 52 cards. All cards being shuffled before each hand begins. The dealer must stand on all 17 hands, and black jack beats any hand with a value of 21.</span></p>
<p><span>European Blackjack High Streak</span></p>
<p><span>Based on the European rules, this new game enhances the basic blackjack game by adding the possibility of a side bet known as the High Streak, where a player's success in a row going on making progress along a chain of bonuses that can deliver up to 10: 1 return on investment.When a player has achieved a victory in the default game is High Streak feature is enabled, the first High Streak win pays 1: 1, the second straight High Streak win 2: 1, the third 5: 1 and, for those who are a big Winning Streak, the fourth in 10: 1.</span></p>
<p><span>Big Five Blackjack Gold</span></p>
<p><span>Big Five Blackjack Gold review</span></p>
<p><span>Big Five Blackjack Gold is one of the latest upgrade Microgaming Gold games. It features improved playability and richer graphics. It is played with five standard decks of 52 cards. At the beginning of each hand the cards are mixed. The dealer must hit on a soft 17, and black jack beats any hand with a value of 21.</span></p>
<p><span>Big Five Blackjack Gold</span></p>
<p><span>Normal 5 deck strategy can be applied. You can play in expert mode which has an Autoplay function, and there is a built-in strategy cards that you can customize. This strategy will be applied automatically during autoplay. Each hand is played automatically for you to review in real time.</span></p>
<p><span>Bonus Blackjack Gold</span></p>
<p><span>Bonus Blackjack Gold review</span></p>
<p><span>Bonus Blackjack Gold is part of the latest Microgaming Gold upgrade. These games have enhanced functionality and improved graphics. This game is played with two standard decks of 52 cards. Before each hand begins the cards are mixed. The dealer must hit on a soft 17, and black jack beats any hand with a value of 21. There is also an optional bonus Bet.</span></p>
<p><span>Bonus Blackjack Gold</span></p>
<p><span>Standard 2 deck strategy can be applied. The game is played in expert mode (with the Autoplay option), and there's a built-in strategy card that can be customized by each). This strategy card is used automatically during autoplay. Each hand is recorded automatically for review at any time.</span></p>
<p><br /><br /></p>
<p><span>Vegas Single Deck Blackjack Gold</span></p>
<p><span>Vegas Single Deck Blackjack Gold review</span></p>
<p><span>Vegas Single Deck Blackjack Gold is part of the latest Microgaming Gold upgraded Game suite. These are advanced playability and more appealing graphics. It is played with 1 deck of 52 cards. The cards shuffled at the beginning of each hand. The dealer must hit on a soft 17, and black jack beats any hand with a value of 21.</span></p>
<p><span>Vegas Single Deck Blackjack Gold</span></p>
<p><span>Standard Vegas Single Deck Blackjack Gold strategy. You can play the game in Expert Mode (with an Autoplay function) and there's a strategy cards available for you to customize. This strategy cards will automatically be applied during autoplay. Each handset is logged and you can see your real-time statistics.</span></p>
<p><span>Classic Blackjack Gold Series</span></p>
<p><span>Classic Blackjack Gold review</span></p>
<p><span>Classic Blackjack Gold Series is one of the new Microgaming upgraded Gold games, offering enhanced playability and improved graphics. It is played with one standard deck of 52 cards. All cards shuffled before each hand begins. The dealer must stand on all 17 hands, and black jack beats any hand with a value of 21.</span></p>
<p><span>Classic Blackjack Gold</span></p>
<p><span>Standard Single Deck Blackjack strategy applies. You have the opportunity to play the game in Expert Mode (with an Autoplay function) and can use a customizable strategy cards which will automatically be applied during autoplay. Each handset is logged and you can see all the game stats in real time and later.</span></p>
<p><span>Multi-hand Spanish 21 Blackjack</span></p>
<p><span>Multi Hand Spanish 21 Blackjack review</span></p>
<p><span>Spanish 21 Multi Hand Blackjack uses eight decks of 48 cards – the TENs are removed from the deck. This is a new multi hand versions of the common side games that have been available on Microgaming casinos for a few years now. Up to five hands can be played simultaneously. It is a hole card game, which means that the dealer will check for Blackjack if he has a face card or ACE. If he has a Blackjack, the game is over.</span></p>
<p><span>Spanish 21 multi-hand Blackjack Awards Bonus Player payout in the event that the player reaches 21. The Bonus amount depends on the number of cards taken to reach 21. Bonuses are not on hand was split or doubled.</span></p>
<p><span>Spanish 21 Multi Hand Blackjack</span></p>
<p><br /><br /></p>
<p><span>The standard Microgaming strategy applicable to 8 deck can be played. You can play with the Expert Mode (which has a function for automatic game). A strategy cards are also available for you to customize). Game software for whatever strategy you choose when automatic playback. Each hand is logged and the players can see their stats in real time.</span></p>
<p><span>Microgaming Multi-hand Blackjack</span></p>
<p><span>Multi Hand Blackjack review</span></p>
<p><span>Multi Hand Blackjack uses 5 normal decks of 52 cards. The dealer shuffles the cards before each hand begins. You can play up to 5 hands at once. In Multi Hand Blackjack the dealer is forced to stand on all soft hands 17 and blackjack beats any hand of 21 value.</span></p>
<p><span>Multi Hand Blackjack</span></p>
<p><span>The standard Microgaming strategy applicable to 5 decks can be played. You can play with the Expert Mode (which has a function for automatic game). A strategy cards are also available for you to customize). Game software for whatever strategy you choose when automatic playback. Each hand is logged and the players can see their stats in real time.</span></p>
<p><span>Multi-hand Vegas Strip Blackjack</span></p>
<p><span>Multi-hand Vegas Strip Blackjack review</span></p>
<p><span>Multi-hand Vegas Strip Blackjack uses 4 standard decks of 52 cards. The dealer shuffles the cards before each hand begins. You can play up to 5 hands at once. In multi-hand Vegas Strip Blackjack dealer is forced to stand on all 17 hands, and black jack beats any hand of 21 value.</span></p>
<p><span>Multi-hand Vegas Strip Blackjack</span></p>
<p><span>The standard Microgaming strategy for 4 tires can be played. You can play with the Expert Mode (which has a function for automatic game). A strategy cards are also available for you to customize). Game software for whatever strategy you choose when automatic playback. Each hand is logged and the players can see their stats in real time.</span></p>
<p><span>Multi-hand Vegas Downtown Blackjack</span></p>
<p><span>Multi-hand Vegas Downtown Blackjack review</span></p>
<p><span>Multi-hand Vegas Downtown Blackjack uses 2 standard decks of 52 cards. The dealer shuffles the cards before each hand begins. You can play up to 5 hands at once. In multi-hand Vegas Downtown Blackjack dealer is forced to hit on a soft 17, and black jack beats any hand of 21 value. A player blackjack always beats the dealer's Blackjack, and the dealer wins all the other bound hands.</span></p>
<p><span>Multi-hand Vegas Downtown Blackjack</span></p>
<p><span>The standard Microgaming strategy applicable to 2 deck can be played. You can play with the Expert Mode (which has a function for automatic game). A strategy cards are also available for you to customize). Game software for whatever strategy you choose when automatic playback. Each hand is logged and the players can see their stats in real time</span></p>
<p><span>Multi-hand Bonus Blackjack</span></p>
<p><span>Multi-hand Bonus Blackjack Review</span></p>
<p><span>Multi-hand Bonus Blackjack uses 2 standard decks, each containing 52 cards. The cards will be shuffled before each hand begins. The dealer is forced to hit on a soft 17, and blackjack beats a hand that totals 21. You can play up to 5 hands at once.</span></p>
<p><span>It is an optional bonus bet elements in multi-hand Bonus Blackjack that you can take at the beginning of each hand. The Bonus bet may vary the hand action. The Bonus bet pays out on the first two cards.</span></p>
<p><span>Multi-hand Bonus Blackjack</span></p>
<p><span>The standard Microgaming strategy applicable to 2 deck can be played. You can play with the Expert Mode (which has a function for automatic game). A strategy cards are also available for you to customize). Game software for whatever strategy you choose when automatic playback. Each hand is logged and the players can see their stats in real time.</span></p>
<p><span>Multi-hand Atlantic City Blackjack</span></p>
<p><span>Multi-hand Atlantic City Blackjack review</span></p>
<p><span>Multi-hand Atlantic City Blackjack is played with 8 standard packs of 52 cards. The cards were shovelling at the start of each hand. In multi-hand Atlantic City Blackjack, you can play up to 5 hands at once. The dealer must always stand on soft 17, and blackjack beats a hand value of 21.</span></p>
<p><span>Multi-hand Atlantic City Blackjack</span></p>
<p><span>The standard Microgaming strategy applicable to 8 deck can be played. You can play with the Expert Mode (which has a function for automatic game). A strategy cards are also available for you to customize). Game software for whatever strategy you choose when automatic playback. Each hand is logged and the players can see their stats in real time.</span></p>
<p><br /><br /></p>
<p><span>Vegas Downtown Blackjack</span></p>
<p><span>Vegas Downtown Blackjack review</span></p>
<p><span>Vegas Downtown Blackjack uses 2 standard decks of 52 cards. The dealer shuffles the cards before each hand begins. In Vegas Downtown Blackjack, the dealer is forced to hit on a soft 17, and black jack beats any hand of 21 value. A player blackjack always beats the dealer's Blackjack, and the dealer wins all the other bound hands.</span></p>
<p><span>Vegas Downtown Blackjack</span></p>
<p><span>The standard Microgaming strategy applicable to 2 deck can be played. You can play with the Expert Mode (which has a function for automatic game). A strategy cards are also available for you to customize). Game software for whatever strategy you choose when automatic playback. Each hand is logged and the players can see their stats in real time.</span></p>
<p><span>Microgaming Vegas Strip Blackjack</span></p>
<p><span>Vegas Strip Blackjack review</span></p>
<p><span>Vegas Strip Blackjack uses 4 standard decks of 52 cards. The dealer shuffles the cards before each hand begins. In Vegas Strip Blackjack, the dealer is forced to stand on all 17 hands, and black jack beats any hand of 21 value.</span></p>
<p><span>Vegas Strip Blackjack</span></p>
<p><span>The standard Microgaming strategy for 4 tires can be played. You can play with the Expert Mode (which has a function for automatic game). A strategy cards are also available for you to customize). Game software for whatever strategy you choose when automatic playback. Each hand is logged and the players can see their stats in real time.</span></p>
<p><br /><br /></p>
<p><span>Microgaming Triple Sevens Progressive Blackjack</span></p>
<p><span>Triple 7 Blackjack review</span></p>
<p><span>Triple 7 Blackjack uses 5 normal decks of 52 cards. The dealer shuffles the cards at the completion of each hand. In Triple 7 Blackjack dealer is forced to stand on all 17 hands, and black jack beats any hand of 21 value.</span></p>
<p><a name="_GoBack"></a> Triple 7 Blackjack</p>
<p><br /><br /></p>
<p><span>The standard Microgaming strategy applicable to 5 decks can be played. You can play with the Expert Mode (which has a function for automatic game). A strategy cards are also available for you to customize). Game software for whatever strategy you choose when automatic playback. Each hand is logged and the players can see their stats in real time.</span></p>
<p><br /><br /></p>
<p> </p>
<p><br /><br /></p>
<p><span>Microgaming Super Fun 21 Blackjack</span></p>
<p><br /><br /></p>
<p><span>Super Fun 21 Blackjack review</span></p>
<p><br /><br /></p>
<p><span>Super Fun 21 Blackjack uses 1 standard deck of 52 cards. The cards will be shuffled before each hand begins. In Super Fun 21 Blackjack dealer is forced to stand on all 17 hands, and blackjack beats a hand that totals 21. </span>A player blackjack always beats the dealer's Blackjack.</p>
<p><br /><br /></p>
<p>Super Fun 21 Blackjack</p>
<p><br /><br /></p>
<p><span>The standard Microgaming strategy applicable to 1 deck can be played. You can play with the Expert Mode (which has a function for automatic game). A strategy cards are also available for you to customize). Game software for whatever strategy you choose when automatic playback. Each hand is logged and the players can see their stats in real time.</span></p>
<p><br /><br /></p>
<p> </p>
<p><br /><br /></p>
<p>Microgaming Spanish Blackjack</p>
<p><br /><br /></p>
<p>Spanish Blackjack Review</p>
<p><br /><br /></p>
<p><span>Spanish Blackjack uses eight decks of 48 cards – there are no 10s in Spanish Blackjack. The cards will be shuffled before each hand begins. In Spanish Blackjack, the dealer is forced to hit on a soft 17, and blackjack beats a hand that totals 21. </span>A player's 21 also always beats the dealer's 21.</p>
<p><br /><br /></p>
<p>Spanish Blackjack</p>
<p><br /><br /></p>
<p><span>You can play with the Expert Mode (which has a function for automatic game). A strategy cards are also available for you to customize). Game software for whatever strategy you choose when automatic playback. Each hand is logged and the players can see their stats in real time.</span></p>
<p><br /><br /></p>
<p> </p>
<p><br /><br /></p>
<p>Microgaming European Blackjack</p>
<p><br /><br /></p>
<p>European Blackjack Review</p>
<p><br /><br /></p>
<p><span>European Blackjack uses eight standard decks of 52 cards. The dealer shuffles the cards at the completion of each hand. In European Blackjack dealer is forced to stand on all 17 hands, and black jack beats any hand of 21 value.</span></p>
<p><br /><br /></p>
<p>European Blackjack</p>
<p><br /><br /></p>
<p><span>The standard Microgaming strategy applicable to 8 deck can be played. You can play with the Expert Mode (which has a function for automatic game). A strategy cards are also available for you to customize). Game software for whatever strategy you choose when automatic playback. Each hand is logged and the players can see their stats in real time.</span></p>
<p><br /><br /></p>
<p> </p>
<p><br /><br /></p>
<p>Double Exposure Blackjack</p>
<p><br /><br /></p>
<p><span>Double Exposure Blackjack review</span></p>
<p><br /><br /></p>
<p><span>Double Exposure Blackjack is a game with 8 standard decks of 52 cards. The cards were shovelling at the start of each hand. In Double Exposure Black jack the dealer is forced to hit on soft 17, and black jack beats any hand with a 21. A player blackjack always beats the dealer's Blackjack, and the dealer wins all the other bound hands.</span></p>
<p><br /><br /></p>
<p>Double Exposure Blackjack</p>
<p><br /><br /></p>
<p><span>The standard Microgaming strategy applicable to 8 deck can be played. You can play with the Expert Mode (which has a function for automatic game). A strategy cards are also available for you to customize). Game software for whatever strategy you choose when automatic playback. Each hand is logged and the players can see their stats in real time.</span></p>
<p><br /><br /></p>
<p> </p>
<p><br /><br /></p>
<p>Bonus Backjack</p>
<p><br /><br /></p>
<p><span>Bonus Blackjack Review</span></p>
<p><br /><br /></p>
<p><span>Bonus Blackjack uses 2 standard decks, each containing 52 cards. The cards will be shuffled before each hand begins. The dealer is forced to hit on a soft 17, and blackjack beats a hand that totals 21.</span></p>
<p><br /><br /></p>
<p><span>It is an optional bonus bet Blackjack Bonus feature which you can take at the beginning of each hand. The Bonus bet may vary the hand action. The Bonus bet pays out on the first two cards.</span></p>
<p><br /><br /></p>
<p><span>Bonus Blackjack</span></p>
<p><br /><br /></p>
<p><span>The standard Microgaming strategy applicable to 2 deck can be played. You can play with the Expert Mode (which has a function for automatic game). A strategy cards are also available for you to customize). Game software for whatever strategy you choose when automatic playback. Each hand is logged and the players can see their stats in real time.</span></p>
<p><br /><br /></p>
<p> </p>
<p><br /><br /></p>
<p><span>Atlantic City Blackjack</span></p>
<p><br /><br /></p>
<p><span>Atlantic City Blackjack review</span></p>
<p><br /><br /></p>
<p><span>Atlantic City Blackjack is played with 8 standard decks of 52 cards. The cards shuffled after each hand is completed. The dealer is forced to stand on soft 17, and blackjack beats a hand value of 21.</span></p>
<p><br /><br /></p>
<p><span>Atlantic City Blackjack</span></p>
<p><br /><br /></p>
<p><span>Standard 8 deck strategy cards are valid. The game can be played in Expert mode (with automatic playback), and has a built-in strategy card that can be customized by the player). The software will automatically apply the strategy diagram during a slide show. Each hand is logged and the players can see their stats in real time.</span></p>
<p><br /><br /></p>
<p> </p>
<p><br /><br /></p>
<p><br /><br /></p>
<p><br /><br /></p>
<p><br /><br /></p>
<p><br /><br /></p>
<p><br /><br /></p>]]></articleBody>
        <articleTitle><![CDATA[Black Jack]]></articleTitle>
      </article>
    </articles>
    <articles id="1153" key="411bece2-b89e-4309-b3e1-39a0c2d2b70c" parentID="1141" level="2" creatorID="0" sortOrder="1" createDate="2018-04-05T09:03:24" updateDate="2018-04-05T09:03:24" nodeName="Articles" urlName="articles" path="-1,1141,1153" isDoc="" nodeType="1143" creatorName="Piotr Bancarzewski" writerName="Piotr Bancarzewski" writerID="0" template="1142" nodeTypeAlias="articles" isPublished="true" />
  </home>
</root>